#gamea {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  height: 300px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

#container {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

#gamearea div {
  width: 150px;
  height: 75px;
  border: 1px solid black;
  cursor: pointer;
  margin-bottom: 5px;

  text-align: center;
}

#szamlalo {
  text-align: center;
  font-size: 30px;
}

.rejtett {
  visibility: hidden;
}

#start {
  position: fixed;
  left: 40%;
  top: 75%;
  height: 150px;
  width: 250px;
}
